<div class="w-full px-4 py-4 flex items-start justify-between">
  <header class="text-md font-bold">Daily ROI</header>
  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path></svg>
</div>
{% if object == request.user %}
<div class="w-full flex items-center px-4 py-4 font-black text-xl bg-primary/40 justify-between">
  <span>$ {{object.roi|floatformat:2}}</span><a href="{% if not object.wallet_address %}{% url 'users:update' %}{% else %}javascript:;{% endif %}" hx-post="{% if object.can_withdraw_roi and object.wallet_address %}{% url 'users:withdraw_roi' object.username %}{% else %}javascript:;{% endif %}" hx-swap="innerHTML" hx-target="#profile" class="p-3 text-sm font-bold rounded-md hover:shadow-md duration-200 hover:scale-105 {% if user.can_withdraw_roi %}bg-primary text-dark{% else %}bg-red-500 text-light{% endif %}">{% if user.can_withdraw_roi %}WITHDRAW ROI{% elif not object.wallet_address %}ADD WALLET ADDRESS{% else %}ROI LOW{% endif %}</a>
</div>
{% endif %}
<div class="w-full max-w-full h-full max-h-full overflow-x-scroll scrollbar-hide">
  <table class="table-fixed flex-none w-full max-w-full max-h-full bg-light-text p-4 overflow-y-scroll text-sm scrollbar-hide">
    <thead class=" flex-none w-full bg-dark overflow-scroll text-sm scrollbar-hide">
      <tr>
        <th class=" flex-none py-3 w-[40px]">#</th>
        <th class=" flex-none py-3 w-[120px]">Currency</th>
        <th class=" flex-none py-3 w-[120px]">Transaction Type</th>
        <th class=" flex-none py-3 w-[120px]">Status</th>
        <th class=" flex-none py-3 w-[120px]">Amount</th>
        <th class=" flex-none py-3 w-[120px]">Date</th>
      </tr>
    </thead>
    <tbody class=" flex-none w-full bg-white/60 text-dark text-center p-4 overflow-scroll scrollbar-hide">
      {% for r in roi %}
      <tr>
        <td class=" flex-none  py-3 font-black text-sm w-[40px]">{{forloop.counter}}</td>
        <td class=" flex-none  py-3 w-[120px] font-black text-dark">{{r.currency}}</td>
        <td class=" flex-none  py-3 w-[120px] {% if r.status == 'SUCCESS' %}text-black{% elif r.status == 'PENDING' %}text-yellow-500{% else %}text-red-500{% endif %} font-semibold">{{ r.transaction_type }}</td>
        <td class=" flex-none  py-3 w-[120px] {% if r.status == 'SUCCESS' %}text-black{% elif r.status == 'PENDING' %}text-yellow-500{% else %}text-red-500{% endif %} font-semibold">{{ r.status }}</td>
        <td class=" flex-none  py-3 w-[120px] {% if r.status == 'SUCCESS' %}text-black{% elif r.status == 'PENDING' %}text-yellow-500{% else %}text-red-500{% endif %} font-semibold">{{ r.amount|floatformat:2 }}</td>
        <td class=" flex-none  py-3 w-[120px] {% if r.status == 'SUCCESS' %}text-black{% elif r.status == 'PENDING' %}text-yellow-500{% else %}text-red-500{% endif %} font-semibold">{{ r.created|date:"d / m / Y" }}</td>
      </tr>
      {% empty %}
      <tr class="w-full h-min py-4 px-8 text-center">
        <td colspan="6" class="flex-none  py-3 w-[120px] font-black text-center uppercase">
          No RETURN ON INVESTMENT
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
